@import '../../constants';

.button {
  box-sizing: border-box;
  background: $main-color;
  font-size: 16pt;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 12px;
  border: none;
  width: 100%;

  &:hover {
    background: #918351;
  }
}