div(class="leaders")

    div(class="leaders_content")
        each leader in leaders
            div(class="leaders__member")
                div(class="leaders__name")= leader.nickname
                div(class="leaders__points")= leader.points