//'<div class="leaders">' +
//this.props.leaders.map(item => `
//                <div class="leaders__member">
//<div class="leaders__name">${item.nickname}</div>
//    <div class="leaders__points">${item.points}</div>
//    </div>`).join('') +
//'</div>'

div(class="leaders")
    each leader in leaders
        div(class="leaders__member")
            div(class="leaders__name")= leader.name
            div(class="leaders__points")= leader.points