@import "../../constants";

.main-view {
  flex: 1;
  display: flex;
  flex-direction: row;

  @media (max-width: 980px) {
    flex-direction: column;
  }

  .main-view__background {
    filter: blur(6px);
    position: fixed;
    background: url("/src/images/background.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    .main-view__bg-filter {
      height: 100%;
      background: rgba(103, 85, 21, 0.4);
    }
  }

  .main-view__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .video {
      margin: auto;
      max-width: 100%;

      @media (min-width: 660px) {
        width: 640px;
        height: 360px;
      }

      @media (min-width: 1280px) {
        width: 960px;
        height: 540px;
      }
    }

    .form, .leaders {
      padding: 25px;
      box-sizing: border-box;
      align-self: center;
      width: 360px;
      margin: auto;
      background: $slave-color-opacity-08;
    }

    .rules {
      margin: 80px;
    }

    @media (max-width: 980px) {
      &_hide {
        display: none;
      }
    }
  }

  .main-view__aside-toggle {
    display: none;
    position: absolute;
  }

  .main-view__aside {
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $slave-color-opacity-02;

    .main-view__aside-content {
      padding: 15px 0;

      .navigation {
        text-align: left;
      }

      .profile {
        padding: 12px 50px;
        background: $slave-color-opacity-02;
        color: white;
      }
    }
  }

  // mobile
  @media (max-width: 980px) {

    .main-view__aside-toggle {
      display: inline-block;
      width: 40px;
      padding: 20px;
    }

    .main-view__aside {
      width: 100%;
      border-right: none;
      margin: 0;
      flex: 1;
      display: none;


      .main-view__nav-container {
        margin: auto;
      }

      &_show {
        display: flex;
      }

      .navigation {
        margin: auto;
        text-align: left;
      }
    }
  }
}