div(class="main-view")
    div(class="main-view__background")
        div(class="main-view__bg-filter")
    input(class="main-view__aside-toggle" type="image" src="/build/images/menu.png")
    div(class="main-view__aside")
        div(class="main-view__nav-container")
    div(class="main-view__content")