div(class="main-view")
    div(class="main-view__background")
        div(class="main-view__bg-filter")
    input(class="main-view__aside-toggle" type="image" src="/public/images/menu.png")
    div(class="main-view__aside")
        div(class="main-view__aside-content")
    div(class="main-view__content")