@import "../../constants";

.main-view {
  flex: 1;
  display: flex;
  flex-direction: row;

  .background {
    background: url("/src/images/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .main-view__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .video {
      margin: auto;
      width: 640px;
      height: 360px;

      @media (min-width: 1340px) {
        width: 800px;
        height: 450px;
      }

      @media (min-width: 1500px) {
        width: 960px;
        height: 540px;
      }
    }

    .form, .leaders {
      padding: 25px;
      box-sizing: border-box;
      align-self: center;
      width: 360px;
      margin: auto;
      background: rgba(255, 255, 255, 0.7);
    }

    .rules {
      margin: 80px;
    }
  }

  .main-view__aside {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 360px;
    margin: 180px 0;
    border-right: 3px solid white;

    .profile {
      margin: 0 50px 50px;
      padding: 8px 10px;
      background: rgba(255, 255, 255, 0.2);
      color: white;
    }

    .navigation {
      text-align: right;
    }
  }
}