<div class="main__background">
    <div class="main__background__filter"></div>
</div>
<div class="main__content">
    <header class="main__content__header">
        <img class="main__content__header__image" src="/public/images/Group%206@2x.png" alt="">
    </header>
    <section class="main__content__section">
        <div class="main__content__section__enter">
            <div class="enter">
                <div class="field">
                    <input class="field__input" id="login" type="text">
                    <label class="field__name" for="login">Логин</label>
                </div>
                <div class="field">
                    <input class="field__input" id="login" type="password">
                    <label class="field__name" for="login">Пароль</label>
                </div>
                <div class="button">Войти</div>
            </div>
        </div>
    </section>
</div>
<nav class="main__navigation">
    <div class="navigation">
        <a href="/">
            <div class="navigation__item">Главная</div>
        </a>
        <a href="/enter">
            <div class="navigation__item navigation__item_active">Вход</div>
        </a>
        <a href="/reg">
            <div class="navigation__item">Регистрация</div>
        </a>
        <a href="/rules">
            <div class="navigation__item">Правила</div>
        </a>
        <a href="/top">
            <div class="navigation__item">Лидеры</div>
        </a>
    </div>
</nav>