doctype html
html
    head
        title= BattleIsland
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/public/javascripts/script.js' type='module')
