section(class="game-view")
    div(class="game-view__interface")
        div(class="game-view__players")
        div(class="game-view__tile-manager")
            button(class="game-view__rotate-button" type="button") Rotate
            button(class="game-view__submit-button" type="button") Submit
            canvas(class="game-view__tile-view" width=1000 height=1000)
    div(class="game-view__area-container")
        canvas(class="game-view__area" width=2000 height=2000)