section(class="game-view")
    div(class="game-view__content")
        div(class="game-view__area-container")
            canvas(class="game-view__area" width=2000 height=2000)
        div(class="game-view__interface")
            div(class="game-view__players")
            div(class="game-view__tile-manager")
                canvas(class="game-view__tile-view" width=400 height=400)
                button(class="game-view__submit-button" type="button")="Submit"
                button(class="game-view__quit-button" type="button")="Quit"
    div(class="game-view__loading")
        img(class="game-view__loading-img" src="/public/images/loading.gif")