.game-view {
  background: $slave-color;
  height: 100%;

  .game-view__content {
    display: flex;
    max-height: 100%;


    .game-view__interface {
      flex: 1;
      display: flex;
      flex-direction: column;

      .game-view__players {
        font-family: sans-serif;
        flex: 1;
      }

      .game-view__tile-manager {
        margin: 12px;

        .game-view__tile-view {
          box-sizing: border-box;
          max-width: 100%;
          max-height: calc(100% - 67px);
          margin: auto;
          display: block;
          padding: 10% 25%;
        }

        .game-view__submit-button {
          background: #ff8200;
          color: white;
          font-size: 24pt;
          border-radius: 60px;
          padding: 15px 30px;
          width: 100%;
        }
      }
    }

    .game-view__area-container {
      cursor: pointer;
      flex: 2;

      .game-view__area {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
      }
    }


    @media screen and (orientation: portrait) {
      flex-direction: column;
      height: 100%;

      .game-view__interface {
        flex-direction: row;

        .game-view__tile-manager {
          flex: 1;

          .game-view__submit-button {
            font-size: 12pt;
            padding: 10px 15px;
          }
        }
      }


      .game-view__area-container {
        height: 300px;

        @media (min-width: 600px) {
          height: 400px;
        }

        @media (min-width: 750px) {
          height: 500px;
        }

        @media (min-width: 900px) {
          height: 600px;
        }

        @media (min-width: 1050px) {
          height: 700px;
        }

        @media (min-width: 1200px) {
          height: 800px;
        }

        @media (min-width: 1350px) {
          height: 900px;
        }

        @media (min-width: 1500px) {
          height: 1000px;
        }
      }
    }
  }
}