@import "consts";
/* components */
@import "../javascripts/components/root/root";
@import "../javascripts/components/background/background";
@import "../javascripts/components/header/header";
@import "../javascripts/components/navigation/navigation";
@import "../javascripts/components/video/video";
@import "../javascripts/components/form/form";
@import "../javascripts/components/leaderboard/leaderboard";
@import "../javascripts/components/rules/rules";
/* views */
@import "../javascripts/views/MainView/main-view";
@import "../javascripts/views/GameView/game-view";

html {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;

  #root {
    min-height: 100%;
    width: 100%;

    .main-view {
      min-height: 100%;
    }
  }
}

.hidden {
  display: none;
}