html {
  height: 100%; }

body {
  height: 100%;
  margin: 0; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none; }

.root {
  display: flex;
  height: 100%; }
  .root .background {
    background: url("/public/images/VI-project-0.0.2-nonet.jpg") center center;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .root .header {
    width: 100%; }
  .root .root__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    @media (min-width: 1500px) {
      .root .root__content {
        margin-bottom: 60px; } }
  .root .navigation {
    width: 360px;
    margin: 180px 0; }

.background {
  filter: blur(5px);
  position: fixed; }
  .background .background__filter {
    height: 100%;
    background: rgba(159, 103, 21, 0.4); }

.header .header__image {
  display: block;
  margin: auto;
  width: 360px;
  padding: 40px 0; }
  @media (min-width: 1500px) {
    .header .header__image {
      padding: 60px 0;
      width: 480px; } }

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 80px; }
  @media (min-height: 720px) {
    .section {
      padding: 80px; } }
  .section .section__video {
    align-self: center;
    margin: auto;
    width: 640px;
    height: 360px; }
    @media (min-width: 1340px) {
      .section .section__video {
        width: 800px;
        height: 450px; } }
    @media (min-width: 1500px) {
      .section .section__video {
        width: 960px;
        height: 540px; } }
  .section .login, .section .leaders {
    box-sizing: border-box;
    align-self: center;
    width: 360px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7); }

.navigation {
  border-left: 3px solid white;
  display: flex; }
  .navigation .navigation__content {
    align-self: center;
    width: 100%; }
    .navigation .navigation__content .navigation__item {
      display: block;
      color: white;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 20pt;
      font-weight: bold;
      padding: 15px 50px; }
      .navigation .navigation__content .navigation__item_active {
        padding-left: 45px;
        border-left: 6px solid white; }
      .navigation .navigation__content .navigation__item:hover {
        background: rgba(255, 255, 255, 0.2); }

.video {
  background: url("/public/images/VI-project-0.0.2-nonet.jpg");
  display: flex;
  flex-direction: column;
  height: 100%; }
  .video .video__button {
    align-self: center;
    width: 120px;
    margin: auto;
    display: block; }

.login {
  padding: 25px; }
  .login .field {
    margin-bottom: 25px;
    height: 48px; }
  .login .button {
    height: 48px; }

.field {
  border-bottom: 2px solid #786b3f;
  font-family: sans-serif; }
  .field .field__name {
    position: relative;
    top: -48px;
    color: #786b3f;
    font-size: 8pt;
    padding: 0 5px; }
  .field .field__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 5px 0;
    border: none;
    background: none;
    color: #786b3f;
    font-size: 16pt;
    outline: none; }

.button {
  box-sizing: border-box;
  background: #786b3f;
  font-size: 16pt;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 12px;
  border: none;
  width: 100%; }
  .button:hover {
    background: #918351; }

.leaders {
  padding: 25px; }
  .leaders .leaders__member {
    color: #786b3f;
    font-family: sans-serif;
    font-size: 18pt;
    margin-bottom: 25px; }
    .leaders .leaders__member:last-child {
      margin: 0; }
    .leaders .leaders__member:nth-child(1) {
      color: #3c301e; }
    .leaders .leaders__member:nth-child(2) {
      color: #504328; }
    .leaders .leaders__member:nth-child(3) {
      color: #645732; }
    .leaders .leaders__member .leaders__name {
      display: inline-block;
      width: 240px; }
    .leaders .leaders__member .leaders__points {
      display: inline-block; }

.rules {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  box-sizing: border-box;
  padding: 40px; }

/*# sourceMappingURL=style.css.map */