html {
  height: 100%; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none; }

.main {
  margin: 0;
  background-size: cover;
  height: 100%;
  display: flex; }
  .main .main__background {
    background: url("/public/images/VI-project-0.0.2-nonet.jpg") center center;
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .main .main__background .main__filter {
      height: 100%;
      background: rgba(159, 103, 21, 0.4); }
  .main .main__content {
    flex: 1;
    display: flex;
    flex-direction: column; }
    .main .main__content .main__header .main__image {
      display: block;
      margin: 40px auto 0;
      width: 360px; }
      @media (min-height: 720px) {
        .main .main__content .main__header .main__image {
          margin: 80px auto 0; } }
      @media (min-width: 1500px) {
        .main .main__content .main__header .main__image {
          width: 480px; } }
    .main .main__content .main__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px 80px; }
      @media (min-height: 720px) {
        .main .main__content .main__section {
          padding: 80px; } }
      .main .main__content .main__section .main__video {
        align-self: center;
        margin: auto; }
        @media (min-width: 1180px) {
          .main .main__content .main__section .main__video {
            width: 640px;
            height: 360px; } }
        @media (min-width: 1340px) {
          .main .main__content .main__section .main__video {
            width: 800px;
            height: 450px; } }
        @media (min-width: 1500px) {
          .main .main__content .main__section .main__video {
            width: 960px;
            height: 540px; } }
      .main .main__content .main__section .main__enter {
        align-self: center;
        width: 360px;
        margin: auto;
        background: rgba(255, 255, 255, 0.7); }
      .main .main__content .main__section .main__rules {
        flex: 1;
        box-sizing: border-box; }
        .main .main__content .main__section .main__rules .main__content {
          box-sizing: border-box;
          height: 100%;
          padding: 40px;
          background: rgba(255, 255, 255, 0.7); }
  .main .main__navigation {
    width: 360px;
    display: flex; }
    .main .main__navigation .navigation {
      align-self: center;
      padding: 160px 0;
      width: 100%; }

.navigation {
  border-left: 3px solid white; }
  .navigation .navigation__item {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: bold;
    padding: 15px 15px 15px 50px; }
    .navigation .navigation__item_active {
      padding-left: 45px;
      border-left: 6px solid white; }
    .navigation .navigation__item:hover {
      background: rgba(255, 255, 255, 0.2); }

.video {
  background: url("/public/images/VI-project-0.0.2-nonet.jpg");
  display: flex;
  flex-direction: column;
  height: 100%; }
  .video .video__button {
    align-self: center;
    width: 120px;
    margin: auto;
    display: block; }

.enter {
  padding: 25px; }
  .enter .field {
    margin-bottom: 25px;
    height: 48px; }
  .enter .button {
    height: 48px; }

.field {
  border-bottom: 2px solid #786b3f;
  font-family: sans-serif; }
  .field .field__name {
    position: relative;
    top: -48px;
    color: #786b3f;
    font-size: 8pt;
    padding: 0 5px; }
  .field .field__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 5px 0;
    border: none;
    background: none;
    color: #786b3f;
    font-size: 16pt;
    outline: none; }

.button {
  box-sizing: border-box;
  background: #786b3f;
  font-size: 16pt;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 12px; }
  .button:hover {
    background: #918351; }

.top {
  padding: 25px; }
  .top .top__member {
    color: #786b3f;
    font-family: sans-serif;
    font-size: 18pt;
    margin-bottom: 25px; }
    .top .top__member:nth-child(1) {
      color: #3c301e; }
    .top .top__member:nth-child(2) {
      color: #504328; }
    .top .top__member:nth-child(3) {
      color: #645732; }
    .top .top__member .top__name {
      display: inline-block;
      width: 240px; }
    .top .top__member .top__points {
      display: inline-block; }

/*# sourceMappingURL=style.css.map */