div(class="file-input")
    div(class="file-input__container")
        div(class="file-input__file-name")
        input(type="button" class="file-input__button" value="Open")
        input(type="file" size="28" class="file-input__input")
    label(class="file-input__name")=label