.navigation {
  .navigation__item {
    display: block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    @media (max-width: 1280px) {
      font-size: 32pt;
    }
      font-size: 24pt;
    font-weight: bold;
    padding: 15px 50px;

    &_active {
      padding-left: 45px;
      border-left: 6px solid white;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}