.navigation {
  .navigation__item {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24pt;
    font-weight: 600;
    padding: 6px 50px;

    @media (min-width: 980px) {
      padding: 12px 50px;
    }

    &_active {
      padding-left: 45px;
      border-left: 6px solid white;
    }

    &:hover {
      background: $slave-color-opacity-02;
    }
  }
}