.navigation {
  .navigation__item {
    display: block;
    color: white;
    text-decoration: none;

    @media (max-width: 980px) {
      font-size: 24pt;
    }

    font-size: 20pt;
    font-weight: 600;
    padding: 12px 50px;

    &_active {
      padding-left: 45px;
      border-left: 6px solid white;
    }

    &:hover {
      background: $slave-color-opacity-02;
    }
  }
}