@import "consts";
/* components */
@import "../javascripts/components/Background/background";
@import "../javascripts/components/FileInput/file-input";
@import "../javascripts/components/Navigation/navigation";
@import "../javascripts/components/Video/video";
@import "../javascripts/components/Form/form";
@import "../javascripts/components/Leaderboard/leaderboard";
@import "../javascripts/components/Rules/rules";
@import "../javascripts/components/Profile/profile";
/* controllers */
@import "../javascripts/components/MainView/main-view";
@import "../javascripts/components/GameView/game-view";

html {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;

  #root {
    min-height: 100%;
    width: 100%;

    .main-view {
      min-height: 100%;
    }
  }
}

.hidden {
  display: none;
}