/* components */
.root .video {
  margin: auto;
  width: 640px;
  height: 360px; }
  @media (min-width: 1340px) {
    .root .video {
      width: 800px;
      height: 450px; } }
  @media (min-width: 1500px) {
    .root .video {
      width: 960px;
      height: 540px; } }

.root .form, .root .leaders {
  padding: 25px;
  box-sizing: border-box;
  align-self: center;
  width: 360px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7); }

.background {
  filter: blur(6px);
  position: fixed; }
  .background .background__filter {
    height: 100%;
    background: rgba(103, 85, 21, 0.4); }

.header .header__image {
  display: block;
  margin: auto;
  width: 360px;
  padding: 40px 0; }
  @media (min-width: 1500px) {
    .header .header__image {
      padding: 60px 0;
      width: 480px; } }

.navigation {
  border-left: 3px solid white;
  display: flex; }
  .navigation .navigation__item {
    display: block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: bold;
    padding: 15px 50px; }
    .navigation .navigation__item_active {
      padding-left: 45px;
      border-left: 6px solid white; }
    .navigation .navigation__item:hover {
      background: rgba(255, 255, 255, 0.2); }
  .navigation .navigation__content {
    align-self: center;
    width: 100%; }

.video {
  background: url("/src/images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .video .video__button {
    align-self: center;
    width: 120px;
    margin: auto;
    display: block; }

.field {
  border-bottom: 2px solid #786b3f;
  font-family: sans-serif; }
  .field .field__name {
    position: relative;
    top: -48px;
    color: #786b3f;
    font-size: 8pt;
    padding: 0 5px; }
  .field .field__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 5px 0;
    border: none;
    background: none;
    color: #786b3f;
    font-size: 16pt;
    outline: none; }

.button {
  box-sizing: border-box;
  background: #786b3f;
  font-size: 16pt;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 12px;
  border: none;
  width: 100%; }
  .button:hover {
    background: #918351; }

.form .form__error {
  display: none;
  font-family: sans-serif;
  text-align: center;
  background: #ffc7b7;
  color: #aa5a4c; }
  .form .form__error_active {
    display: block;
    padding: 16px;
    margin-bottom: 25px; }

.form .field {
  margin-bottom: 25px;
  height: 48px; }

.form .button {
  height: 48px; }

.leaders .leaders__member {
  color: #786b3f;
  font-family: sans-serif;
  font-size: 18pt;
  margin-bottom: 25px; }
  .leaders .leaders__member:last-child {
    margin: 0; }
  .leaders .leaders__member:nth-child(1) {
    color: #3c301e; }
  .leaders .leaders__member:nth-child(2) {
    color: #504328; }
  .leaders .leaders__member:nth-child(3) {
    color: #645732; }
  .leaders .leaders__member .leaders__name {
    display: inline-block;
    width: 240px; }
  .leaders .leaders__member .leaders__points {
    display: inline-block; }

.rules {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  box-sizing: border-box;
  padding: 40px; }

/* views */
.main-view {
  flex: 1;
  display: flex;
  flex-direction: row; }
  .main-view .background {
    background: url("/src/images/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .main-view .main-view__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    @media (min-width: 1500px) {
      .main-view .main-view__content {
        margin-bottom: 60px; } }
    .main-view .main-view__content .video {
      margin: auto;
      width: 640px;
      height: 360px; }
      @media (min-width: 1340px) {
        .main-view .main-view__content .video {
          width: 800px;
          height: 450px; } }
      @media (min-width: 1500px) {
        .main-view .main-view__content .video {
          width: 960px;
          height: 540px; } }
    .main-view .main-view__content .form, .main-view .main-view__content .leaders {
      padding: 25px;
      box-sizing: border-box;
      align-self: center;
      width: 360px;
      margin: auto;
      background: rgba(255, 255, 255, 0.7); }
  .main-view .main-view__navigation {
    width: 360px;
    margin: 180px 0; }
    .main-view .main-view__navigation .navigation {
      height: 100%; }

.interface {
  height: 800px;
  width: 400px;
  border: 2px solid green;
  display: inline-block;
  margin-right: -4px; }

.players {
  height: 400px;
  width: 400px;
  border: 2px solid red;
  box-sizing: border-box; }

.tile_select_block {
  height: 400px;
  width: 400px;
  border: 2px solid blue;
  box-sizing: border-box; }

#tutorial {
  width: 800px;
  height: 800px;
  border: 2px solid fuchsia;
  display: inline-block;
  background-image: url("../../../images/map.jpg");
  background-size: contain; }

html {
  height: 100%; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none; }

body {
  min-height: 100%;
  margin: 0;
  display: flex; }
  body #root {
    min-height: 100%;
    width: 100%; }
    body #root .main-view {
      min-height: 100%; }

.hidden {
  display: none; }

/*# sourceMappingURL=index.css.map */