@import "../../constants";

.home-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .home-view__nav {
    padding: 10px;
    background: rgba(255,255,255, 0.2);
    width: 360px;
    margin: 20px auto;
    border-radius: 50px;
    text-align: left;
  }

  @media (max-width: 980px) {
    flex-direction: column;
  }

  .home-view__background {
    filter: blur(6px);
    position: fixed;
    background: url("/src/images/background.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    .home-view__bg-filter {
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .home-view__flex-cont{
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 100%;
  }

  .home-view__header {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: #ffcd80;
    text-align: center;


    @media (min-width: 980px) {
      font-size: 200px;
    }
  }

  .home-view__content {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .home-view__aside-toggle {
    display: none;
    position: absolute;
  }

  .home-view__aside {
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $slave-color-opacity-02;

    .home-view__aside-content {
      padding: 15px 0;

      .navigation {
        text-align: left;
      }

      .profile {
        padding: 12px 50px;
        background: $slave-color-opacity-02;
        color: white;
      }
    }
  }

  // mobile
  @media (max-width: 980px) {

    .home-view__aside-toggle {
      display: inline-block;
      width: 40px;
      padding: 20px;
    }

    .home-view__aside {
      width: 100%;
      border-right: none;
      margin: 0;
      flex: 1;
      display: none;


      .home-view__nav-container {
        margin: auto;
      }

      &_show {
        display: flex;
      }

      .navigation {
        margin: auto;
        text-align: left;
      }
    }
  }
}