div(class="home-view")
    div(class="home-view__background")
        div(class="home-view__bg-filter")
    div(class="home-view__flex-cont")
        div(class="home-view__content")
            div(class="home-view__header")="Indigo"
            div(class="home-view__nav")