div(class="player")
    img(class="player__avatar" src=avatar)
    div(class="player__content")
        div(class="player__name")= nickname
        progress(class="player__progress player__progress_hidden" max="100")