//`<div class="field">` +
//`<div class="field__input field__input_no-right-padding">` +
//`<div class="field__file-name"></div>` +
//`<button class="field__file-button" onclick="event.preventDefault();this.nextSibling.click()">Choose</button>` +
//`<input type="file" size="28" name="${this.props.name}" style="visibility: hidden; position: absolute;" onchange="previousSibling.previousSibling.innerText = this.value.replace( 'C:\\\\fakepath\\\\', '' )">` +
//`</div>` +
//`<label class="field__name">${this.props.label}</label>` +
//`</div>`

div(class="file-input")
    div(class="file-input__container")
        div(class="file-input__name")
        input(type="button" class="file-input__button")
        input(type="file" size="28" name=name class="file-input__input")
    label(class="background")= label