@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@import "constants";
/* components */
@import "components/Navigation/navigation";
@import "components/FileInput/file-input";
@import "components/Video/video";
@import "components/Form/form";
@import "components/Leaderboard/leaderboard";
@import "components/Rules/rules";
@import "components/Profile/profile";
@import "components/Player/player";
@import "components/PopUp/popup";
/* controllers */
@import "components/MainView/main-view";
@import "components/GameView/game-view";

html {
  height: 100%;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

button {
  background: none;
  border: none;
}

body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  display: flex;

  #root {
    min-height: 100%;
    width: 100%;

    .main-view {
      min-height: 100%;
    }
  }
}

.hidden {
  display: none;
}

input[type="submit"], button {
  cursor: pointer;
}