.video {
  .video__content {
    background: url("/public/images/VI-project-0.0.2-nonet.jpg");
    display: flex;
    flex-direction: column;
    height: 100%;

    .video__button {
      align-self: center;
      width: 120px;
      margin: auto;
      display: block;
    }
  }
}