div(class="rules")
    h1="Правила игры"
    p="В игре «Индиго» задача игроков – собрать наиболее ценные камни. Для этого им предстоит прокладывать пути, по которым камни будут двигаться к выходам, ведущим к воротам игроков, расположенным по краям игрового поля."